{
  "openapi": "3.1.0",
  "info": {
    "title": "SmartphoneKey B2C API",
    "version": "1.0.0",
    "description": "Event-sourced B2C API for SmartphoneKey smart lock management"
  },
  "servers": [
    {
      "url": "https://api.spkey.co",
      "description": "Production"
    },
    {
      "url": "https://b2c-api.spk-stage.workers.dev",
      "description": "Staging"
    },
    {
      "url": "https://b2c-api.spk-dev.workers.dev",
      "description": "Development"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token from SmartphoneKey authentication. Identifies the B2C user or B2B service."
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for B2B organization access. Provided during organization onboarding."
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/admin/rtsp-cameras/{id}/users/{userId}": {
      "delete": {
        "tags": [
          "Admin",
          "RtspCamera"
        ],
        "summary": "Revoke RTSP camera access (admin)",
        "operationId": "delete_AdminRevokeRtspAccessRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "RTSP camera UUID"
            },
            "required": true,
            "description": "RTSP camera UUID",
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target user ID"
            },
            "required": true,
            "description": "Target user ID",
            "name": "userId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Access revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "cameraId": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "cameraId"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/rtsp-cameras/{id}/streams/start": {
      "post": {
        "tags": [
          "Admin",
          "RtspCamera"
        ],
        "summary": "start RTSP camera stream (admin)",
        "operationId": "post_AdminStartRtspStreamRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "RTSP camera UUID"
            },
            "required": true,
            "description": "RTSP camera UUID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Stream start command accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "cameraId": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "cameraId"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/rtsp-cameras/{id}/streams/stop": {
      "post": {
        "tags": [
          "Admin",
          "RtspCamera"
        ],
        "summary": "stop RTSP camera stream (admin)",
        "operationId": "post_AdminStopRtspStreamRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "RTSP camera UUID"
            },
            "required": true,
            "description": "RTSP camera UUID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Stream stop command accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "cameraId": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "cameraId"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/aggregates/{type}/{id}/events": {
      "get": {
        "tags": [
          "Admin",
          "Aggregates"
        ],
        "summary": "Browse an aggregate's R2 event stream (paginated, filterable)",
        "description": "Returns the ordered R2 event stream for an aggregate with version-range (fromVersion/toVersion) and event-type filters, forward cursor pagination, and the latest snapshot version. `type` accepts the canonical aggregate type (e.g. LockAggregate) or its slug (e.g. lock). Read-only; requires dual admin auth (X-Admin-API-Key + JWT). Audit-logged.",
        "security": [
          {
            "adminApiKey": [],
            "bearerAuth": []
          }
        ],
        "operationId": "get_GetAggregateEventsRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Aggregate type or slug, e.g. \"lock\" or \"LockAggregate\""
            },
            "required": true,
            "description": "Aggregate type or slug, e.g. \"lock\" or \"LockAggregate\"",
            "name": "type",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Aggregate id (== state.id used for DO routing)"
            },
            "required": true,
            "description": "Aggregate id (== state.id used for DO routing)",
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Only return events with version >= fromVersion (inclusive)."
            },
            "required": false,
            "description": "Only return events with version >= fromVersion (inclusive).",
            "name": "fromVersion",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Only return events with version &lt;= toVersion (inclusive)."
            },
            "required": false,
            "description": "Only return events with version &lt;= toVersion (inclusive).",
            "name": "toVersion",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Only return events whose type matches this exact event-type string."
            },
            "required": false,
            "description": "Only return events whose type matches this exact event-type string.",
            "name": "type",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "description": "Max events to return in this page (default 100)."
            },
            "required": false,
            "description": "Max events to return in this page (default 100).",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 0,
              "description": "Pagination cursor: return events with version > cursor. Use nextCursor from the previous page."
            },
            "required": false,
            "description": "Pagination cursor: return events with version > cursor. Use nextCursor from the previous page.",
            "name": "cursor",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Ordered event stream page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "aggregateType": {
                      "type": "string"
                    },
                    "aggregateId": {
                      "type": "string"
                    },
                    "totalEvents": {
                      "type": "number"
                    },
                    "snapshot": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "version": {
                          "type": "number"
                        },
                        "timestamp": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "version",
                        "timestamp"
                      ]
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "version": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          },
                          "orgId": {
                            "type": "string"
                          },
                          "event": {}
                        },
                        "required": [
                          "version",
                          "type",
                          "timestamp",
                          "orgId"
                        ]
                      }
                    },
                    "nextCursor": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "filter": {
                      "type": "object",
                      "properties": {
                        "fromVersion": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "toVersion": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "type": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "fromVersion",
                        "toVersion",
                        "type"
                      ]
                    }
                  },
                  "required": [
                    "aggregateType",
                    "aggregateId",
                    "totalEvents",
                    "snapshot",
                    "events",
                    "nextCursor",
                    "filter"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Unknown aggregate type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Invalid email domain",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/spacetimedb/users/{userId}/devices": {
      "get": {
        "tags": [
          "Admin",
          "SpacetimeDB"
        ],
        "summary": "Inspect a user's raw SpacetimeDB device rows",
        "description": "Read-only dump of the user's device_permission + device_visibility rows joined with device_state (device_type / lock_id / thing_name / online). No classification, no mutation. Requires dual admin auth (X-Admin-API-Key + JWT). Audit-logged.",
        "security": [
          {
            "adminApiKey": [],
            "bearerAuth": []
          }
        ],
        "operationId": "get_GetUserSpacetimeDevicesRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "B2C user UUID (UserAggregate id)."
            },
            "required": true,
            "description": "B2C user UUID (UserAggregate id).",
            "name": "userId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Raw SpacetimeDB device rows for the user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string"
                    },
                    "permissionCount": {
                      "type": "number"
                    },
                    "visibilityCount": {
                      "type": "number"
                    },
                    "deviceStateCount": {
                      "type": "number"
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deviceUuid": {
                            "type": "string"
                          },
                          "role": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "permissionRows": {
                            "type": "number"
                          },
                          "visibilityRows": {
                            "type": "number"
                          },
                          "duplicate": {
                            "type": "boolean"
                          },
                          "hasPermission": {
                            "type": "boolean"
                          },
                          "hasVisibility": {
                            "type": "boolean"
                          },
                          "deviceStateFound": {
                            "type": "boolean"
                          },
                          "deviceType": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "lockId": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "thingName": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "online": {
                            "type": [
                              "boolean",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "deviceUuid",
                          "role",
                          "permissionRows",
                          "visibilityRows",
                          "duplicate",
                          "hasPermission",
                          "hasVisibility",
                          "deviceStateFound",
                          "deviceType",
                          "lockId",
                          "thingName",
                          "online"
                        ]
                      }
                    }
                  },
                  "required": [
                    "userId",
                    "permissionCount",
                    "visibilityCount",
                    "deviceStateCount",
                    "rows"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid userId",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Invalid email domain",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/threedeye/users/{userId}/reset": {
      "post": {
        "tags": [
          "Admin",
          "3dEye"
        ],
        "summary": "Reset 3dEye provisioning for a user",
        "description": "Clears the local threedeye_users/recovery rows (force re-provision) and optionally deletes the remote 3dEye account when visible in our customer. Requires dual auth: X-Admin-API-Key + JWT.",
        "operationId": "post_ResetThreeDeyeUserRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "b2c user UUID"
            },
            "required": true,
            "description": "b2c user UUID",
            "name": "userId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clearMapping": {
                    "type": "boolean",
                    "default": true,
                    "description": "Delete the local threedeye_users + recovery rows so the next fetch re-provisions."
                  },
                  "deleteRemote": {
                    "type": "boolean",
                    "default": false,
                    "description": "Also delete the remote 3dEye account if it is visible in our customer. Cannot remove accounts that live outside our customer."
                  },
                  "reprovision": {
                    "type": "boolean",
                    "default": false,
                    "description": "After clearing, immediately re-run provisioning instead of waiting for the next fetch."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reset completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string"
                    },
                    "email": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "clearedMapping": {
                      "type": "boolean"
                    },
                    "clearedRecovery": {
                      "type": "boolean"
                    },
                    "remote": {
                      "type": "object",
                      "properties": {
                        "attemptedDelete": {
                          "type": "boolean"
                        },
                        "deletedThreedeyeUserId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "notVisible": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "attemptedDelete",
                        "deletedThreedeyeUserId",
                        "notVisible"
                      ]
                    },
                    "reprovision": {
                      "type": "object",
                      "properties": {
                        "attempted": {
                          "type": "boolean"
                        },
                        "threedeyeUserId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "error": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "attempted",
                        "threedeyeUserId",
                        "error"
                      ]
                    }
                  },
                  "required": [
                    "userId",
                    "email",
                    "clearedMapping",
                    "clearedRecovery",
                    "remote",
                    "reprovision"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/collective-temp-keys/{uuid}/doors/{doorId}/open": {
      "post": {
        "tags": [
          "TempKey",
          "Collective",
          "Web"
        ],
        "summary": "Open a door via a collective key",
        "description": "Validates a collective access key (validity window) and opens the given door via the LockAggregate (same path as the single temp-key open flow).",
        "operationId": "post_OpenCollectiveDoorRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Collective temporary key UUID"
            },
            "required": true,
            "description": "Collective temporary key UUID",
            "name": "uuid",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Door id within the collective key"
            },
            "required": true,
            "description": "Door id within the collective key",
            "name": "doorId",
            "in": "path"
          }
        ],
        "responses": {
          "303": {
            "description": "Door opened, redirecting to confirmation"
          },
          "400": {
            "description": "Credential is outside its validity window",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Credential or door not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/temp-keys/{uuid}/doors/{doorId}/open": {
      "post": {
        "tags": [
          "TempKey",
          "Web"
        ],
        "summary": "Open a specific door via a temp key",
        "description": "Validates a temporary key (revocation, expiration, usage limits, authorization) and opens the given door via its LockAggregate plus the Door Lock cluster UnlockDoor command to the device shadow.",
        "operationId": "post_OpenTempKeyDoorRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Collective temporary key UUID"
            },
            "required": true,
            "description": "Collective temporary key UUID",
            "name": "uuid",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Door id within the collective key"
            },
            "required": true,
            "description": "Door id within the collective key",
            "name": "doorId",
            "in": "path"
          }
        ],
        "responses": {
          "303": {
            "description": "Door opened, redirecting to confirmation"
          },
          "400": {
            "description": "Key invalid or the door has no slide-to-open",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "User not authorized to use this temporary key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Key or door not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/cleanup/rtsp-cameras/{cameraId}": {
      "delete": {
        "tags": [
          "Admin",
          "Cleanup",
          "RtspCamera"
        ],
        "summary": "Delete RTSP camera aggregate",
        "description": "Admin-only cleanup for a RTSP camera. Optionally archives + deletes the R2 event stream, removes the DO instance, and asks the spk-vms worker to stop the live stream. Requires dual auth (X-Admin-API-Key + JWT with @smartphonekey.com domain).",
        "operationId": "delete_AdminDeleteRtspCameraRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "RTSP camera UUID"
            },
            "required": true,
            "description": "RTSP camera UUID",
            "name": "cameraId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "DELETE_DO_ONLY",
                "DELETE_DO_AND_EVENTS"
              ],
              "description": "Deletion mode: DELETE_DO_ONLY preserves R2 events, DELETE_DO_AND_EVENTS archives and removes everything"
            },
            "required": true,
            "description": "Deletion mode: DELETE_DO_ONLY preserves R2 events, DELETE_DO_AND_EVENTS archives and removes everything",
            "name": "mode",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "RTSP camera deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "cameraId": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "operations": {
                      "type": "array",
                      "items": {}
                    },
                    "deletionSummary": {
                      "type": "string"
                    },
                    "auditLogPath": {
                      "type": "string"
                    },
                    "duration": {
                      "type": "number"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "cameraId",
                    "mode",
                    "operations",
                    "auditLogPath",
                    "duration",
                    "errors"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid mode parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/rtsp-cameras/{cameraId}/full": {
      "delete": {
        "tags": [
          "Admin",
          "RtspCamera"
        ],
        "summary": "Full-delete a RTSP camera (admin)",
        "description": "Admin-only full delete for a RTSP camera. Archives and deletes R2 events, removes the Durable Object instance, removes SpacetimeDB read-model rows, and best-effort stops the spk-vms stream. Requires dual auth.",
        "operationId": "delete_AdminFullDeleteRtspCameraRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "RTSP camera UUID"
            },
            "required": true,
            "description": "RTSP camera UUID",
            "name": "cameraId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "DELETE_DO_AND_EVENTS"
              ],
              "default": "DELETE_DO_AND_EVENTS"
            },
            "required": false,
            "name": "mode",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "RTSP camera fully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "cameraId": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "operations": {
                      "type": "array",
                      "items": {}
                    },
                    "deletionSummary": {
                      "type": "string"
                    },
                    "auditLogPath": {
                      "type": "string"
                    },
                    "duration": {
                      "type": "number"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "cameraId",
                    "mode",
                    "operations",
                    "auditLogPath",
                    "duration",
                    "errors"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/rtsp-cameras/{id}/users": {
      "post": {
        "tags": [
          "Admin",
          "RtspCamera"
        ],
        "summary": "Grant RTSP camera access (admin)",
        "operationId": "post_AdminGrantRtspAccessRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "RTSP camera UUID"
            },
            "required": true,
            "description": "RTSP camera UUID",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  }
                },
                "required": [
                  "userId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access granted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "cameraId": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "cameraId"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/cleanup/hubs/{hubId}": {
      "delete": {
        "tags": [
          "Admin",
          "Cleanup"
        ],
        "summary": "Delete hub aggregate",
        "description": "Admin-only endpoint for deleting a hub aggregate. Supports two modes: DELETE_DO_ONLY removes the Durable Object instance while preserving R2 events (state restored on next access), and DELETE_DO_AND_EVENTS archives all events then permanently removes the DO instance. Requires dual authentication: X-Admin-API-Key header and a JWT with @smartphonekey.com email domain.",
        "operationId": "delete_DeleteHubRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Hub ID (UUID)"
            },
            "required": true,
            "description": "Hub ID (UUID)",
            "name": "hubId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "DELETE_DO_ONLY",
                "DELETE_DO_AND_EVENTS"
              ],
              "description": "Deletion mode: DELETE_DO_ONLY preserves R2 events, DELETE_DO_AND_EVENTS archives and removes everything"
            },
            "required": true,
            "description": "Deletion mode: DELETE_DO_ONLY preserves R2 events, DELETE_DO_AND_EVENTS archives and removes everything",
            "name": "mode",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Hub deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "hubId": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "operations": {
                      "type": "array",
                      "items": {}
                    },
                    "deletionSummary": {
                      "type": "string"
                    },
                    "auditLogPath": {
                      "type": "string"
                    },
                    "duration": {
                      "type": "number"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "hubId",
                    "mode",
                    "operations",
                    "auditLogPath",
                    "duration",
                    "errors"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid mode parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/cleanup/locks/{lockId}": {
      "delete": {
        "tags": [
          "Admin",
          "Cleanup"
        ],
        "summary": "Delete lock aggregate",
        "description": "Admin-only endpoint for deleting a lock aggregate. Supports two modes: DELETE_DO_ONLY removes the Durable Object instance while preserving R2 events (state restored on next access), and DELETE_DO_AND_EVENTS archives all events then permanently removes the DO instance and D1 entries. The cascadeDeleteKeys parameter controls whether associated key_assignments are also removed. Requires dual authentication: X-Admin-API-Key header and a JWT with @smartphonekey.com email domain.",
        "operationId": "delete_DeleteLockRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Lock ID (numeric) or UUID"
            },
            "required": true,
            "description": "Lock ID (numeric) or UUID",
            "name": "lockId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "DELETE_DO_ONLY",
                "DELETE_DO_AND_EVENTS"
              ],
              "description": "Deletion mode: DELETE_DO_ONLY preserves R2 events, DELETE_DO_AND_EVENTS archives and removes everything"
            },
            "required": true,
            "description": "Deletion mode: DELETE_DO_ONLY preserves R2 events, DELETE_DO_AND_EVENTS archives and removes everything",
            "name": "mode",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "true",
              "description": "Whether to also delete associated key_assignments rows (default: true)"
            },
            "required": false,
            "description": "Whether to also delete associated key_assignments rows (default: true)",
            "name": "cascadeDeleteKeys",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Lock deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "lockId": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "cascadeDeleteKeys": {
                      "type": "boolean"
                    },
                    "operations": {
                      "type": "array",
                      "items": {}
                    },
                    "deletionSummary": {
                      "type": "string"
                    },
                    "auditLogPath": {
                      "type": "string"
                    },
                    "duration": {
                      "type": "number"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "lockId",
                    "mode",
                    "cascadeDeleteKeys",
                    "operations",
                    "auditLogPath",
                    "duration",
                    "errors"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid mode parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/cleanup/users/{userId}": {
      "delete": {
        "tags": [
          "Admin",
          "Cleanup"
        ],
        "summary": "Delete user aggregate",
        "description": "Admin-only endpoint for deleting a user aggregate. Supports two modes: DELETE_DO_ONLY removes the Durable Object instance while preserving R2 events (the state will be restored on next access), and DELETE_DO_AND_EVENTS archives all events to a timestamped folder then permanently removes the DO instance and D1 entries. Requires dual authentication: X-Admin-API-Key header and a JWT with @smartphonekey.com email domain.",
        "operationId": "delete_DeleteUserRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "User ID to delete"
            },
            "required": true,
            "description": "User ID to delete",
            "name": "userId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "DELETE_DO_ONLY",
                "DELETE_DO_AND_EVENTS"
              ],
              "description": "Deletion mode: DELETE_DO_ONLY preserves R2 events, DELETE_DO_AND_EVENTS archives and removes everything"
            },
            "required": true,
            "description": "Deletion mode: DELETE_DO_ONLY preserves R2 events, DELETE_DO_AND_EVENTS archives and removes everything",
            "name": "mode",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "userId": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "operations": {
                      "type": "array",
                      "items": {}
                    },
                    "deletionSummary": {
                      "type": "string"
                    },
                    "auditLogPath": {
                      "type": "string"
                    },
                    "duration": {
                      "type": "number"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "userId",
                    "mode",
                    "operations",
                    "auditLogPath",
                    "duration",
                    "errors"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid mode parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/aggregates/{type}/{id}": {
      "get": {
        "tags": [
          "Admin",
          "Aggregates"
        ],
        "summary": "Inspect an aggregate (state + event history)",
        "description": "Returns the registry row, live Durable Object state, and R2 event history for a single aggregate. `type` accepts the canonical aggregate type (e.g. LockAggregate) or its friendly slug (e.g. lock). Requires dual admin auth (X-Admin-API-Key + JWT with an allowed email domain).",
        "security": [
          {
            "adminApiKey": [],
            "bearerAuth": []
          }
        ],
        "operationId": "get_GetAggregateRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Aggregate type or slug, e.g. \"lock\" or \"LockAggregate\""
            },
            "required": true,
            "description": "Aggregate type or slug, e.g. \"lock\" or \"LockAggregate\"",
            "name": "type",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Aggregate id (== state.id used for DO routing)"
            },
            "required": true,
            "description": "Aggregate id (== state.id used for DO routing)",
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "description": "Max events to return (default 200)."
            },
            "required": false,
            "description": "Max events to return (default 200).",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregate state and event history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "aggregateType": {
                      "type": "string"
                    },
                    "aggregateId": {
                      "type": "string"
                    },
                    "doId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "registry": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "orgId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "orgId",
                        "createdAt",
                        "updatedAt"
                      ]
                    },
                    "stateFound": {
                      "type": "boolean"
                    },
                    "state": {},
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "version": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          },
                          "orgId": {
                            "type": "string"
                          },
                          "event": {}
                        },
                        "required": [
                          "version",
                          "type",
                          "timestamp",
                          "orgId"
                        ]
                      }
                    },
                    "eventCount": {
                      "type": "number"
                    },
                    "eventsTruncated": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "aggregateType",
                    "aggregateId",
                    "doId",
                    "registry",
                    "stateFound",
                    "events",
                    "eventCount",
                    "eventsTruncated"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Unknown aggregate type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Invalid email domain",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/threedeye/users/{userId}": {
      "get": {
        "tags": [
          "Admin",
          "3dEye"
        ],
        "summary": "3dEye provisioning diagnostics for a user",
        "description": "Read-only snapshot of a user's 3dEye provisioning state across D1 and 3dEye: the b2c user row, the threedeye_users mapping, any recovery row, and a live customer-scoped probe (user count + whether the email is visible). Requires dual auth: X-Admin-API-Key + JWT.",
        "operationId": "get_GetThreeDeyeUserStatusRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "b2c user UUID"
            },
            "required": true,
            "description": "b2c user UUID",
            "name": "userId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "3dEye diagnostics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "found": {
                          "type": "boolean"
                        },
                        "email": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "found",
                        "email"
                      ]
                    },
                    "mapping": {
                      "type": "object",
                      "properties": {
                        "found": {
                          "type": "boolean"
                        },
                        "threedeyeUserId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "hasPassword": {
                          "type": "boolean"
                        },
                        "createdAt": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "remoteAccountExists": {
                          "type": [
                            "boolean",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "found",
                        "threedeyeUserId",
                        "hasPassword",
                        "createdAt",
                        "remoteAccountExists"
                      ]
                    },
                    "recovery": {
                      "type": "object",
                      "properties": {
                        "found": {
                          "type": "boolean"
                        },
                        "roleIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "found",
                        "roleIds"
                      ]
                    },
                    "remote": {
                      "type": "object",
                      "properties": {
                        "configured": {
                          "type": "boolean"
                        },
                        "customerId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "customerUserCount": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "emailPresentInCustomer": {
                          "type": [
                            "boolean",
                            "null"
                          ]
                        },
                        "match": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "roleCount": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "id",
                            "email",
                            "roleCount"
                          ]
                        },
                        "sampleEmails": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "error": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "configured",
                        "customerId",
                        "customerUserCount",
                        "emailPresentInCustomer",
                        "match",
                        "sampleEmails",
                        "error"
                      ]
                    }
                  },
                  "required": [
                    "userId",
                    "user",
                    "mapping",
                    "recovery",
                    "remote"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/workflows/{instanceId}/terminate": {
      "post": {
        "tags": [
          "Admin",
          "Workflows"
        ],
        "summary": "Terminate (stop) a workflow run",
        "description": "Stops a workflow instance. The stop is recorded authoritatively in the registry (and is immutable thereafter) and the engine terminate is invoked best-effort. Stopping an already-finished instance is an idempotent success. Requires dual auth: X-Admin-API-Key + JWT.",
        "operationId": "post_TerminateWorkflowRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Workflow instance id"
            },
            "required": true,
            "description": "Workflow instance id",
            "name": "instanceId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Stop recorded; see status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "instanceId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status after the terminate attempt"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "instanceId",
                    "status"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — email domain not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No such workflow run in the registry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/locks/{id}/debug/messages": {
      "get": {
        "tags": [
          "Lock",
          "Query",
          "Debug"
        ],
        "summary": "Get MQTT debug messages",
        "description": "Get captured MQTT messages for a lock (used for smoke tests)",
        "operationId": "get_GetDebugMessagesRoute",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Lock ID (numeric)"
            },
            "required": true,
            "description": "Lock ID (numeric)",
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "default": "50",
              "description": "Maximum number of messages to return"
            },
            "required": false,
            "description": "Maximum number of messages to return",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "MQTT debug messages retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "object",
                      "properties": {
                        "command": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "payload": {},
                              "timestamp": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "timestamp"
                            ]
                          }
                        },
                        "status": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "payload": {},
                              "timestamp": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "timestamp"
                            ]
                          }
                        }
                      },
                      "required": [
                        "command",
                        "status"
                      ]
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "messages",
                    "total"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}/PhysicalKeys/{number}": {
      "get": {
        "tags": [
          "User",
          "Query",
          "Physical Keys"
        ],
        "summary": "Get a single physical key by number",
        "description": "Returns the user's physical-key entry with the given number, or 404 if no such entry exists.",
        "operationId": "get_GetPhysicalKeyRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "User ID"
            },
            "required": true,
            "description": "User ID",
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Physical key number"
            },
            "required": true,
            "description": "Physical key number",
            "name": "number",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Server-set: caller org id from API-key auth. Clients MUST NOT supply this."
            },
            "required": false,
            "description": "Server-set: caller org id from API-key auth. Clients MUST NOT supply this.",
            "name": "_callerOrgId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Physical key retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "number": {
                      "type": "integer",
                      "exclusiveMinimum": 0
                    },
                    "orgId": {
                      "type": "string"
                    },
                    "orgName": {
                      "type": "string"
                    },
                    "note": {
                      "type": "string"
                    },
                    "addedAt": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "number",
                    "orgId",
                    "addedAt"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User not found, or no physical key with that number",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "errors"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}/wallet/link": {
      "get": {
        "tags": [
          "User",
          "Query"
        ],
        "summary": "Get wallet install URL",
        "description": "Returns a URL the user can open to install their existing wallet key into Apple Wallet or Google Wallet. Returns 404 if no wallet key is set.",
        "operationId": "get_GetUserWalletLinkRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "User ID"
            },
            "required": true,
            "description": "User ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet install URL retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "walletType": {
                      "type": "string",
                      "enum": [
                        "APPLE",
                        "GOOGLE"
                      ]
                    }
                  },
                  "required": [
                    "url",
                    "walletType"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "User has wallet key but is missing required data (e.g. email for Apple)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "errors"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User has no wallet key set",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "errors"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/rtsp-cameras/{id}": {
      "delete": {
        "tags": [
          "Admin",
          "RtspCamera"
        ],
        "summary": "Soft-delete a RTSP camera (admin)",
        "operationId": "delete_AdminSoftDeleteRtspCameraRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "RTSP camera UUID"
            },
            "required": true,
            "description": "RTSP camera UUID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Camera soft-deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "cameraId": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "cameraId"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/aggregates/backfill": {
      "post": {
        "tags": [
          "Admin",
          "Aggregates"
        ],
        "summary": "Backfill the aggregate registry from R2",
        "description": "Scans the R2 event store and upserts a registry row for every aggregate found (optionally limited to one `type`). Idempotent. Requires dual admin auth (X-Admin-API-Key + JWT with an allowed email domain).",
        "security": [
          {
            "adminApiKey": [],
            "bearerAuth": []
          }
        ],
        "operationId": "post_BackfillAggregatesRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Limit the scan to one aggregate type or slug."
            },
            "required": false,
            "description": "Limit the scan to one aggregate type or slug.",
            "name": "type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Backfill summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "scannedTypes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "upserted": {
                      "type": "number"
                    },
                    "byType": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "number"
                      }
                    },
                    "truncated": {
                      "type": "boolean"
                    },
                    "durationMs": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "success",
                    "scannedTypes",
                    "upserted",
                    "byType",
                    "truncated",
                    "durationMs"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Unknown aggregate type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
[...]
