{
  "openapi": "3.1.0",
  "info": {
    "title": "SmartphoneKey B2C API",
    "version": "1.0.0",
    "description": "Event-sourced B2C API for SmartphoneKey smart lock management"
  },
  "servers": [
    {
      "url": "https://api.spkey.co",
      "description": "Production"
    },
    {
      "url": "https://b2c-api.spk-stage.workers.dev",
      "description": "Staging"
    },
    {
      "url": "https://b2c-api.spk-dev.workers.dev",
      "description": "Development"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token from SmartphoneKey authentication. Identifies the B2C user or B2B service."
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for B2B organization access. Provided during organization onboarding."
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/locks/{id}/debug/messages": {
      "get": {
        "tags": [
          "Lock",
          "Query",
          "Debug"
        ],
        "summary": "Get MQTT debug messages",
        "description": "Get captured MQTT messages for a lock (used for smoke tests)",
        "operationId": "get_GetDebugMessagesRoute",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Lock ID (numeric)"
            },
            "required": true,
            "description": "Lock ID (numeric)",
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "default": "50",
              "description": "Maximum number of messages to return"
            },
            "required": false,
            "description": "Maximum number of messages to return",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "MQTT debug messages retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "object",
                      "properties": {
                        "command": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "payload": {},
                              "timestamp": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "timestamp"
                            ]
                          }
                        },
                        "status": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "payload": {},
                              "timestamp": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "timestamp"
                            ]
                          }
                        }
                      },
                      "required": [
                        "command",
                        "status"
                      ]
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "messages",
                    "total"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/cleanup/users/{userId}": {
      "delete": {
        "tags": [
          "Admin",
          "Cleanup"
        ],
        "summary": "Delete user aggregate",
        "description": "Admin-only endpoint for deleting a user aggregate. Supports two modes: DELETE_DO_ONLY removes the Durable Object instance while preserving R2 events (the state will be restored on next access), and DELETE_DO_AND_EVENTS archives all events to a timestamped folder then permanently removes the DO instance and D1 entries. Requires dual authentication: X-Admin-API-Key header and a JWT with @smartphonekey.com email domain.",
        "operationId": "delete_DeleteUserRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "User ID to delete"
            },
            "required": true,
            "description": "User ID to delete",
            "name": "userId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "DELETE_DO_ONLY",
                "DELETE_DO_AND_EVENTS"
              ],
              "description": "Deletion mode: DELETE_DO_ONLY preserves R2 events, DELETE_DO_AND_EVENTS archives and removes everything"
            },
            "required": true,
            "description": "Deletion mode: DELETE_DO_ONLY preserves R2 events, DELETE_DO_AND_EVENTS archives and removes everything",
            "name": "mode",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "userId": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "operations": {
                      "type": "array",
                      "items": {}
                    },
                    "deletionSummary": {
                      "type": "string"
                    },
                    "auditLogPath": {
                      "type": "string"
                    },
                    "duration": {
                      "type": "number"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "userId",
                    "mode",
                    "operations",
                    "auditLogPath",
                    "duration",
                    "errors"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid mode parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/cleanup/locks/{lockId}": {
      "delete": {
        "tags": [
          "Admin",
          "Cleanup"
        ],
        "summary": "Delete lock aggregate",
        "description": "Admin-only endpoint for deleting a lock aggregate. Supports two modes: DELETE_DO_ONLY removes the Durable Object instance while preserving R2 events (state restored on next access), and DELETE_DO_AND_EVENTS archives all events then permanently removes the DO instance and D1 entries. The cascadeDeleteKeys parameter controls whether associated key_assignments are also removed. Requires dual authentication: X-Admin-API-Key header and a JWT with @smartphonekey.com email domain.",
        "operationId": "delete_DeleteLockRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Lock ID (numeric) or UUID"
            },
            "required": true,
            "description": "Lock ID (numeric) or UUID",
            "name": "lockId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "DELETE_DO_ONLY",
                "DELETE_DO_AND_EVENTS"
              ],
              "description": "Deletion mode: DELETE_DO_ONLY preserves R2 events, DELETE_DO_AND_EVENTS archives and removes everything"
            },
            "required": true,
            "description": "Deletion mode: DELETE_DO_ONLY preserves R2 events, DELETE_DO_AND_EVENTS archives and removes everything",
            "name": "mode",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "true",
              "description": "Whether to also delete associated key_assignments rows (default: true)"
            },
            "required": false,
            "description": "Whether to also delete associated key_assignments rows (default: true)",
            "name": "cascadeDeleteKeys",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Lock deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "lockId": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "cascadeDeleteKeys": {
                      "type": "boolean"
                    },
                    "operations": {
                      "type": "array",
                      "items": {}
                    },
                    "deletionSummary": {
                      "type": "string"
                    },
                    "auditLogPath": {
                      "type": "string"
                    },
                    "duration": {
                      "type": "number"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "lockId",
                    "mode",
                    "cascadeDeleteKeys",
                    "operations",
                    "auditLogPath",
                    "duration",
                    "errors"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid mode parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/cleanup/hubs/{hubId}": {
      "delete": {
        "tags": [
          "Admin",
          "Cleanup"
        ],
        "summary": "Delete hub aggregate",
        "description": "Admin-only endpoint for deleting a hub aggregate. Supports two modes: DELETE_DO_ONLY removes the Durable Object instance while preserving R2 events (state restored on next access), and DELETE_DO_AND_EVENTS archives all events then permanently removes the DO instance. Requires dual authentication: X-Admin-API-Key header and a JWT with @smartphonekey.com email domain.",
        "operationId": "delete_DeleteHubRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Hub ID (UUID)"
            },
            "required": true,
            "description": "Hub ID (UUID)",
            "name": "hubId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "DELETE_DO_ONLY",
                "DELETE_DO_AND_EVENTS"
              ],
              "description": "Deletion mode: DELETE_DO_ONLY preserves R2 events, DELETE_DO_AND_EVENTS archives and removes everything"
            },
            "required": true,
            "description": "Deletion mode: DELETE_DO_ONLY preserves R2 events, DELETE_DO_AND_EVENTS archives and removes everything",
            "name": "mode",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Hub deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "hubId": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "operations": {
                      "type": "array",
                      "items": {}
                    },
                    "deletionSummary": {
                      "type": "string"
                    },
                    "auditLogPath": {
                      "type": "string"
                    },
                    "duration": {
                      "type": "number"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "hubId",
                    "mode",
                    "operations",
                    "auditLogPath",
                    "duration",
                    "errors"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid mode parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/users/{id}/3deye-credentials": {
      "get": {
        "tags": [
          "Admin",
          "3dEye"
        ],
        "summary": "Get 3dEye credentials for a user",
        "description": "Returns stored 3dEye user ID and password. Requires admin auth.",
        "operationId": "get_GetThreeDeyeCredentialsRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "User ID"
            },
            "required": true,
            "description": "User ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "3dEye credentials found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "threeDeyeUserId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "password": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "userId",
                    "email",
                    "threeDeyeUserId",
                    "password"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "3dEye credentials not found for this user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}/CreateUser": {
      "post": {
        "tags": [
          "User",
          "Command"
        ],
        "summary": "Create new user",
        "description": "Creates a new user aggregate with initial profile data.",
        "operationId": "post_CreateUserRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "User ID"
            },
            "required": true,
            "description": "User ID",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "User UUID"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User email"
                  },
                  "firstName": {
                    "type": "string",
                    "description": "First name"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Last name"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Phone number"
                  }
                },
                "required": [
                  "userId",
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "aggregateId": {
                      "type": "string"
                    },
                    "version": {
                      "type": "number"
                    },
                    "userId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "aggregateId",
                    "version",
                    "userId"
                  ]
                },
                "example": {
                  "success": true,
                  "aggregateId": "550e8400-e29b-41d4-a716-446655440000",
                  "version": 1,
                  "userId": "550e8400-e29b-41d4-a716-446655440000"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or user already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}/AssignPhysicalKey": {
      "post": {
        "tags": [
          "User",
          "Command",
          "Keys"
        ],
        "summary": "Assign physical key to user",
        "description": "Assigns a physical key to a user. Maximum 5 keys per user.",
        "operationId": "post_AssignPhysicalKeyRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "User ID"
            },
            "required": true,
            "description": "User ID",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keyId": {
                    "type": "string",
                    "description": "Key ID"
                  },
                  "keyIndex": {
                    "type": "number",
                    "description": "Key index slot"
                  }
                },
                "required": [
                  "keyId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Physical key assigned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "aggregateId": {
                      "type": "string"
                    },
                    "version": {
                      "type": "number"
                    },
                    "keyId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "aggregateId",
                    "version",
                    "keyId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or business rule violation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}/AddWalletKey": {
      "post": {
        "tags": [
          "User",
          "Command",
          "Wallet"
        ],
        "summary": "Add wallet key to user",
        "description": "Prepares a wallet key for a user (Apple Wallet or Google Wallet).",
        "operationId": "post_AddWalletKeyRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "User ID"
            },
            "required": true,
            "description": "User ID",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keyId": {
                    "type": "string",
                    "description": "Key ID"
                  },
                  "walletType": {
                    "type": "string",
                    "enum": [
                      "APPLE",
                      "GOOGLE"
                    ],
                    "description": "Wallet type (APPLE or GOOGLE)"
                  },
                  "keyIndex": {
                    "type": "number",
                    "description": "Key index"
                  }
                },
                "required": [
                  "keyId",
                  "walletType",
                  "keyIndex"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Wallet key prepared successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "aggregateId": {
                      "type": "string"
                    },
                    "version": {
                      "type": "number"
                    },
                    "keyId": {
                      "type": "string"
                    },
                    "walletType": {
                      "type": "string",
                      "enum": [
                        "APPLE",
                        "GOOGLE"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "aggregateId",
                    "version",
                    "keyId",
                    "walletType"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or wallet already provisioned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}/AddAccessibleLock": {
      "post": {
        "tags": [
          "User",
          "Command",
          "Lock Access"
        ],
        "summary": "Grant lock access to user",
        "description": "Grants a user access to a lock with specified access level (OWNER, ADMIN, USER, GUEST).",
        "operationId": "post_AddAccessibleLockRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "User ID"
            },
            "required": true,
            "description": "User ID",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lockId": {
                    "type": "string",
                    "description": "Lock ID"
                  },
                  "lockName": {
                    "type": "string",
                    "description": "Lock name"
                  },
                  "accessLevel": {
                    "type": "string",
                    "enum": [
                      "OWNER",
                      "ADMIN",
                      "USER",
                      "GUEST"
                    ],
                    "description": "Access level"
                  },
                  "validFrom": {
                    "type": "string",
                    "description": "Valid from date"
                  },
                  "validUntil": {
                    "type": "string",
                    "description": "Valid until date"
                  },
                  "grantedBy": {
                    "type": "string",
                    "description": "User who granted access"
                  }
                },
                "required": [
                  "lockId",
                  "lockName",
                  "accessLevel",
                  "grantedBy"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lock access granted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "aggregateId": {
                      "type": "string"
                    },
                    "version": {
                      "type": "number"
                    },
                    "lockId": {
                      "type": "string"
                    },
                    "accessLevel": {
                      "type": "string",
                      "enum": [
                        "OWNER",
                        "ADMIN",
                        "USER",
                        "GUEST"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "aggregateId",
                    "version",
                    "lockId",
                    "accessLevel"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or lock already accessible",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}/RemoveAccessibleLock": {
      "post": {
        "tags": [
          "User",
          "Command",
          "Lock Access"
        ],
        "summary": "Revoke lock access from user",
        "description": "Revokes a user's access to a lock.",
        "operationId": "post_RemoveAccessibleLockRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "User ID"
            },
            "required": true,
            "description": "User ID",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lockId": {
                    "type": "string",
                    "description": "Lock ID"
                  },
                  "removedBy": {
                    "type": "string",
                    "description": "User who removed access"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason for removal"
                  }
                },
                "required": [
                  "lockId",
                  "removedBy",
                  "reason"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lock access revoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "aggregateId": {
                      "type": "string"
                    },
                    "version": {
                      "type": "number"
                    },
                    "lockId": {
                      "type": "string"
                    },
                    "removedAt": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "aggregateId",
                    "version",
                    "lockId",
                    "removedAt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or lock not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}/profile": {
      "get": {
        "tags": [
          "User",
          "Query"
        ],
        "summary": "Get user profile",
        "description": "Get user's profile information (name, email, status)",
        "operationId": "get_GetUserProfileRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "User ID"
            },
            "required": true,
            "description": "User ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "User profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "firstName": {
                      "type": "string"
                    },
                    "lastName": {
                      "type": "string"
                    },
                    "phoneNumber": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "ACTIVE",
                        "INACTIVE",
                        "SUSPENDED"
                      ]
                    }
                  },
                  "required": [
                    "userId"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "errors"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}/keys": {
      "get": {
        "tags": [
          "User",
          "Query"
        ],
        "summary": "Get user keys",
        "description": "Get user's physical and digital keys",
        "operationId": "get_GetUserKeysRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "User ID"
            },
            "required": true,
            "description": "User ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "User keys retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "physicalKeys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyId": {
                            "type": "string"
                          },
                          "keyIndex": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "ASSIGNED",
                              "REVOKED",
                              "SUSPENDED",
                              "EXPIRED"
                            ]
                          },
                          "canAddToWallet": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "keyId",
                          "status",
                          "canAddToWallet"
                        ]
                      }
                    },
                    "digitalKeys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyId": {
                            "type": "string"
                          },
                          "keyIndex": {
                            "type": "number"
                          },
                          "walletType": {
                            "type": "string",
                            "enum": [
                              "APPLE",
                              "GOOGLE"
                            ]
                          },
                          "deviceId": {
                            "type": "string"
                          },
                          "addedAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "keyId",
                          "keyIndex",
                          "walletType",
                          "deviceId",
                          "addedAt"
                        ]
                      }
                    },
                    "walletKey": {
                      "type": "object",
                      "properties": {
                        "keyId": {
                          "type": "string"
                        },
                        "keyIndex": {
                          "type": "number"
                        },
                        "walletType": {
                          "type": "string",
                          "enum": [
                            "APPLE",
                            "GOOGLE"
                          ]
                        },
                        "deviceId": {
                          "type": "string"
                        },
                        "passUrl": {
                          "type": "string"
                        },
                        "serialNumber": {
                          "type": "string"
                        },
                        "addedAt": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "keyId",
                        "keyIndex",
                        "walletType",
                        "deviceId",
                        "addedAt"
                      ]
                    }
                  },
                  "required": [
                    "physicalKeys",
                    "digitalKeys"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "errors"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}/wallet": {
      "get": {
        "tags": [
          "User",
          "Query"
        ],
        "summary": "Get user wallet status",
        "description": "Get user's wallet status and wallet key details",
        "operationId": "get_GetUserWalletRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "User ID"
            },
            "required": true,
            "description": "User ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "User wallet status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hasWalletKey": {
                      "type": "boolean"
                    },
                    "walletKey": {
                      "type": "object",
                      "properties": {
                        "keyId": {
                          "type": "string"
                        },
                        "keyIndex": {
                          "type": "number"
                        },
                        "walletType": {
                          "type": "string",
                          "enum": [
                            "APPLE",
                            "GOOGLE"
                          ]
                        },
                        "deviceId": {
                          "type": "string"
                        },
                        "passUrl": {
                          "type": "string"
                        },
                        "serialNumber": {
                          "type": "string"
                        },
                        "addedAt": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "keyId",
                        "keyIndex",
                        "walletType",
                        "deviceId",
                        "addedAt"
                      ]
                    }
                  },
                  "required": [
                    "hasWalletKey"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "errors"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}/accessible-locks": {
      "get": {
        "tags": [
          "User",
          "Query"
        ],
        "summary": "Get accessible locks",
        "description": "Get locks accessible by the user",
        "operationId": "get_GetAccessibleLocksRoute",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "User ID"
            },
            "required": true,
            "description": "User ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Accessible locks retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "locks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lockId": {
                            "type": "string"
                          },
                          "lockName": {
                            "type": "string"
                          },
                          "accessLevel": {
                            "type": "string",
                            "enum": [
                              "OWNER",
                              "ADMIN",
                              "USER",
                              "GUEST"
                            ]
                          },
                          "grantedBy": {
                            "type": "string"
                          },
                          "expiresAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "lockId",
                          "lockName",
                          "accessLevel",
                          "grantedBy"
                        ]
                      }
                    },
                    "totalCount": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "locks",
                    "totalCount"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "errors"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/locks/{id}/details": {
      "get": {
        "tags": [
          "Lock",
          "Query"
        ],
        "summary": "Get lock details",
        "description": "Get full lock details including keys and residents",
        "operationId": "get_GetLockDetailsRoute",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Lock ID (numeric)"
            },
            "required": true,
            "description": "Lock ID (numeric)",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Lock details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "lockId": {
                      "type": "number"
                    },
                    "uuid": {
                      "type": "string"
                    },
                    "serialNumber": {
                      "type": "string"
                    },
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uuid": {
                            "type": "string"
                          },
                          "indexNumber": {
                            "type": "number"
                          },
                          "userId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "uuid"
                        ]
                      }
                    },
                    "ownerId": {
                      "type": "string"
                    },
                    "organizationId": {
                      "type": "string"
                    },
                    "residents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "email",
                          "name"
                        ]
                      }
                    },
                    "orgId": {
                      "type": "string"
                    },
                    "version": {
                      "type": "number"
                    },
                    "timestamp": {
                      "type": "string"
                    },
                    "doId": {
                      "type": "string",
                      "description": "Durable Object hex id for direct DO lookup and debugging"
                    },
                    "r2Prefix": {
                      "type": "string",
                      "description": "R2 key prefix where this lock's events are stored"
                    }
                  },
                  "required": [
                    "id",
                    "lockId",
                    "uuid",
                    "keys",
                    "residents",
                    "orgId",
                    "version",
                    "timestamp",
                    "r2Prefix"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Lock not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "errors"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/locks/{id}/basic-info": {
      "get": {
        "tags": [
          "Lock",
          "Query"
        ],
        "summary": "Get basic lock info",
        "description": "Get basic lock information without keys and residents",
        "operationId": "get_GetBasicLockInfoRoute",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Lock ID (numeric)"
            },
            "required": true,
            "description": "Lock ID (numeric)",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Basic lock info retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "lockId": {
                      "type": "number"
                    },
                    "uuid": {
                      "type": "string"
                    },
                    "version": {
                      "type": "number"
                    },
                    "serialNumber": {
                      "type": "string"
                    },
                    "ownerId": {
                      "type": "string"
                    },
                    "orgId": {
                      "type": "string"
                    },
                    "organizationId": {
                      "type": "string"
                    },
                    "doId": {
                      "type": "string",
                      "description": "Durable Object hex id for direct DO lookup and debugging"
                    },
                    "r2Prefix": {
                      "type": "string",
                      "description": "R2 key prefix where this lock's events are stored"
                    }
                  },
                  "required": [
                    "id",
                    "lockId",
                    "uuid",
                    "version",
                    "r2Prefix"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Lock not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "errors"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/locks/{id}/residents": {
      "get": {
        "tags": [
          "Lock",
          "Query"
        ],
        "summary": "Get residents list",
        "description": "Get residents list for doorbell notifications (public endpoint)",
        "operationId": "get_GetResidentsRoute",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Lock ID (numeric)"
            },
            "required": true,
            "description": "Lock ID (numeric)",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Residents retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "residents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "email",
                          "name"
                        ]
                      }
                    }
                  },
                  "required": [
                    "residents"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Lock not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "errors"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/locks/{id}/events": {
      "get": {
        "tags": [
          "Lock",
          "Query"
        ],
        "summary": "Get lock event history",
        "description": "Returns paginated event history from R2. Default: last 10 events. Use ?page=N for older events.",
        "operationId": "get_GetLockEventsRoute",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Lock ID (numeric)"
            },
            "required": true,
            "description": "Lock ID (numeric)",
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Page number (1-based). Default: last page (most recent events)"
            },
            "required": false,
            "description": "Page number (1-based). Default: last page (most recent events)",
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Lock events retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "aggregateId": {
                      "type": "string"
                    },
                    "totalEvents": {
                      "type": "number"
                    },
                    "page": {
                      "type": "number"
                    },
                    "pageSize": {
                      "type": "number"
                    },
                    "totalPages": {
                      "type": "number"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aggregateType": {
                            "type": "string"
                          },
                          "aggregateId": {
                            "type": "string"
                          },
                          "version": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          },
                          "orgId": {
                            "type": "string"
                          },
                          "event": {}
                        },
                        "required": [
                          "aggregateType",
                          "aggregateId",
                          "version",
                          "type",
                          "timestamp",
                          "orgId"
                        ]
                      }
                    }
                  },
                  "required": [
                    "aggregateId",
                    "totalEvents",
                    "page",
                    "pageSize",
                    "totalPages",
                    "events"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Lock not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/locks/{id}/create-temp-key": {
      "post": {
        "tags": [
          "Lock",
          "TempKey"
        ],
        "summary": "Create temporary web access key",
        "description": "Creates a temporary web key for time-limited, shareable lock access. B2C requires lock owner, B2B requires org match.",
        "operationId": "post_CreateTempKeyRoute",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Lock ID (numeric)"
            },
            "required": true,
            "description": "Lock ID (numeric)",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tempKeyUuid": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "accessMode": {
                    "type": "string",
                    "enum": [
                      "public",
                      "user-whitelist"
                    ]
                  },
                  "allowedUserIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "default": []
                  },
                  "validFrom": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "validUntil": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "maxUses": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "exclusiveMinimum": 0
                  }
                },
                "required": [
                  "tempKeyUuid",
                  "accessMode",
                  "validFrom",
                  "validUntil"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Temporary key created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "aggregateId": {
                      "type": "string"
                    },
                    "version": {
                      "type": "number"
                    },
                    "tempKeyUuid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "aggregateId",
                    "version",
                    "tempKeyUuid"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/locks/{id}/delete-temp-key": {
      "post": {
        "tags": [
          "Lock",
          "TempKey"
        ],
        "summary": "Delete temporary web access key",
        "description": "Deletes a temporary web key. B2C requires lock owner, B2B requires org match.",
        "operationId": "post_DeleteTempKeyRoute",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Lock ID (numeric)"
            },
            "required": true,
            "description": "Lock ID (numeric)",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tempKeyUuid": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "required": [
                  "tempKeyUuid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Temporary key deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "aggregateId": {
                      "type": "string"
                    },
                    "version": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "success",
                    "aggregateId",
                    "version"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Temporary key not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/locks/{id}/update-temp-key": {
      "post": {
        "tags": [
          "Lock",
          "TempKey"
        ],
        "summary": "Update temporary web access key",
        "description": "Updates a temporary web key. Can modify dates, max uses, whitelist, and access mode. B2C requires lock owner, B2B requires org match.",
        "operationId": "post_UpdateTempKeyRoute",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Lock ID (numeric)"
            },
            "required": true,
            "description": "Lock ID (numeric)",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tempKeyUuid": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "validFrom": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "validUntil": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "maxUses": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "exclusiveMinimum": 0
                  },
                  "allowedUserIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "accessMode": {
                    "type": "string",
                    "enum": [
                      "public",
                      "user-whitelist"
                    ]
                  }
                },
                "required": [
                  "tempKeyUuid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Temporary key updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "aggregateId": {
                      "type": "string"
                    },
                    "version": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "success",
                    "aggregateId",
                    "version"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Temporary key not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/locks/{id}/temp-keys": {
      "get": {
        "tags": [
          "Lock",
          "TempKey"
        ],
        "summary": "List temporary keys for lock",
        "description": "Returns all temporary keys for the lock with computed status (valid, expired, used-up, not-yet-valid).",
        "operationId": "get_ListTempKeysRoute",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Lock ID (numeric)"
            },
            "required": true,
            "description": "Lock ID (numeric)",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Temporary keys retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tempKeys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uuid": {
                            "type": "string"
                          },
                          "lockId": {
                            "type": "number"
                          },
                          "lockUuid": {
                            "type": "string"
                          },
                          "accessMode": {
                            "type": "string",
                            "enum": [
                              "public",
                              "user-whitelist"
                            ]
                          },
                          "allowedUserIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "validFrom": {
                            "type": "string"
                          },
                          "validUntil": {
                            "type": "string"
                          },
                          "maxUses": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "usedCount": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "valid",
                              "expired",
                              "used-up",
                              "not-yet-valid"
                            ]
                          }
                        },
                        "required": [
                          "uuid",
                          "lockId",
                          "lockUuid",
                          "accessMode",
                          "allowedUserIds",
                          "validFrom",
                          "validUntil",
                          "maxUses",
                          "usedCount",
                          "createdAt",
                          "createdBy",
                          "status"
                        ]
                      }
                    }
                  },
                  "required": [
                    "tempKeys"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Lock not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/locks/{id}/BulkAddKeys": {
      "post": {
        "tags": [
          "Lock",
          "Workflow"
        ],
        "summary": "Bulk add keys to a lock via workflow",
        "description": "Starts a Cloudflare Workflow that adds multiple keys to a lock. Keys are added sequentially with a 1-second delay between commands. Each key addition is a durable step that retries on failure.",
        "operationId": "post_BulkAddKeysRoute",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Lock ID (numeric)"
            },
            "required": true,
            "description": "Lock ID (numeric)",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keys": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "keyUuid": {
                          "type": "string",
                          "description": "Key identifier"
                        },
                        "keyIndexNumber": {
                          "type": "integer",
                          "description": "Physical key index"
                        },
                        "userId": {
                          "type": "string",
                          "description": "User ID"
                        }
                      },
                      "required": [
                        "keyUuid"
                      ]
                    },
                    "minItems": 1,
                    "description": "List of keys to add to the lock"
                  }
                },
                "required": [
                  "keys"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow started successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "lockId": {
                      "type": "number"
                    },
                    "instanceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "lockId",
                    "instanceId"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/locks/{id}/CreateLock": {
      "post": {
        "tags": [
          "Lock",
          "Command"
        ],
        "summary": "Create new lock",
        "description": "Creates a new lock aggregate",
        "operationId": "post_CreateLockRoute",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Lock ID (numeric)"
            },
            "required": true,
            "description": "Lock ID (numeric)",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "index": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "description": "Lock index number"
                  },
                  "uuid": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Lock UUID"
                  },
                  "serialNumber": {
                    "type": "string",
                    "description": "Serial number"
                  },
                  "vendorName": {
                    "type": "string",
                    "description": "Vendor/manufacturer name"
                  },
                  "ownerId": {
                    "type": "string",
                    "description": "Owner user ID"
                  },
                  "keys": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string"
                        },
                        "indexNumber": {
                          "type": "integer"
                        },
                        "userId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "uuid"
                      ]
                    },
                    "default": [],
                    "description": "Initial keys"
                  }
                },
                "required": [
                  "index",
                  "uuid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lock created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "aggregateId": {
                      "type": "string"
                    },
                    "version": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "success",
                    "aggregateId",
                    "version"
                  ]
                },
                "example": {
                  "success": true,
                  "aggregateId": "550e8400-e29b-41d4-a716-446655440000",
                  "version": 1
                }
              }
            }
          },
          "400": {
            "description": "Invalid request — validation failed or business rule violated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict — lock already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/locks/{id}/SetOrganization": {
      "post": {
        "tags": [
          "Lock",
          "Command"
        ],
        "summary": "Set lock organization",
[...]
